@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #BBBBBB;
}

header img {
    width: 100%;
    height: 490px;
    object-fit: cover;
}

nav {
    background-color: #333;
    text-align: right;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}


a {
    font: 1.2rem 'Be Vietnam Pro', sans-serif;
    text-decoration: none;
    color: #FFFF;
    padding: 10px;
}

.a-menu {
    margin-right: 30px;
    font-weight: bold;
}

.a-menu:link,
.a-menu:visited {
    color: #fff;
}

.a-menu:hover,
.a-menu:active {
    color: #BBBBBB;
}

article {
    width: 100%;
    background-color: #BBB;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
}

h1 {
    font-size: 2.5rem;
    font-family: 'Be Vietnam Pro', sans-serif;
    text-align: justify;
}

p {
    font: 1.2rem 'Roboto', sans-serif;
    text-align: justify;
    margin-top: 20px;
}

section {
    padding: 20px;
    background-color: #EEE;
}

#DESTAQUES {
    text-align: justify;
}

h2 {
    font: 2rem 'Be Vietnam Pro', sans-serif;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: justify;
}

#Container {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
}

.card {
    background-color: #fff;
    margin: 10px;
    width: 25%;
    border-radius: 8px;
    box-shadow: 0 4px 8px #CCC;
    transition: 0.1s;

}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    width: 27%;
}

.card img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: block;
    border-radius: 8px 8px 0 0;
}

.card-content {
    padding: 10px;
    text-align: center;
}

.card-content h3,
.card-content p {
    display: inline-block;
    margin: 5px;
}

.card-content h3 {
    font: 1.3rem 'Be Vietnam Pro', sans-serif;
    color: #000;
    font-weight: bold;
}

.card-content p {
    font: 1.3rem 'Roboto', sans-serif;
    color: #000;
    font-weight: bold;
}




#LOGIN {
    background-color: #BBBBBB;
    padding: 20px;

}

form {
    width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px #CCC;
    border-radius: 8px;
    border: 1px solid #777;
    margin-bottom: 10px;
}

input {
    width: 100%;
    height: 30px;
    margin-bottom: 15px;
    padding-left: 5px;
    box-sizing: border-box;
    border: 1px solid #c4c4c4;
    color: #000;
}

input,
label {
    font: 1rem 'Roboto', sans-serif;
}

#botoes-form {
    display: flex;
}

input[type="submit"],
input[type="reset"] {
    margin: 10px;
    background-color: #8bc34a;
    color: #fff;
    border: 0;
    border-radius: 5px;
}

input[type="reset"] {
    background-color: #f44336;
}

footer {
    background-color: #111;
    padding: 20px;
    color: #fff;
    font: 1rem 'Roboto', sans-serif;
}

footer p {
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
}

footer a {
    color: #fff;
    text-decoration: none;

}

footer a:hover {
    color: #CCC;
}

/*mobile*/

@media screen and (max-width: 920px) {
    * {
        margin: 0;
        padding: 0;
    }

    body {
        background-color: #BBBBBB;
    }

    header img {
        width: 100%;
        height: 490px;
        object-fit: cover;
    }

    nav {
        background-color: #333;
        text-align: right;
        padding: 10px;
    }

    a {
        font: 1.2rem 'Be Vietnam Pro', sans-serif;
        text-decoration: none;
        color: #FFFF;
        padding: 10px;
    }

    .a-menu {
        margin-right: 30px;
        font-weight: bold;
    }

    .a-menu:link,
    .a-menu:visited {
        color: #fff;
    }

    .a-menu:hover,
    .a-menu:active {
        color: #BBBBBB;
    }

    article {
        width: 100%;
        background-color: #BBB;
        padding: 20px;
        box-sizing: border-box;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    h1 {
        font-size: 2.5rem;
        font-family: 'Be Vietnam Pro', sans-serif;
        text-align: justify;
    }

    p {
        font: 1.2rem 'Roboto', sans-serif;
        text-align: justify;
        margin-top: 20px;
    }

    section {
        padding: 20px;
        background-color: #EEE;
    }

    #DESTAQUES {
        text-align: justify;
    }

    h2 {
        font: 2rem 'Be Vietnam Pro', sans-serif;
        margin-bottom: 20px;
        font-weight: bold;
        text-align: justify;
    }

    #Container {
        display: flex;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .card {
        background-color: #fff;
        margin: 10px;
        width: 25%;
        border-radius: 8px;
        box-shadow: 0 4px 8px #CCC;
        transition: 0.1s;

    }

    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        width: 27%;
    }

    .card img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        display: block;
        border-radius: 8px 8px 0 0;
    }

    .card-content {
        padding: 5px;
        text-align: center;
    }

    .card-content h3,
    .card-content p {
        display: inline-block;
        margin: 5px;
    }

    .card-content h3 {
        font: 1.2rem 'Be Vietnam Pro', sans-serif;
        color: #000;
        font-weight: bold;
    }

    .card-content p {
        font: 1.2rem 'Roboto', sans-serif;
        color: #000;
        font-weight: bold;
    }

    #LOGIN {
        background-color: #BBBBBB;
        padding: 20px;

    }

    form {
        width: 400px;
        margin: 0 auto;
        background-color: #fff;
        padding: 20px;
        box-sizing: border-box;
        box-shadow: 0 4px 8px #CCC;
        border-radius: 8px;
        border: 1px solid #777;
        margin-bottom: 10px;
    }

    input {
        width: 100%;
        height: 30px;
        margin-bottom: 15px;
        padding-left: 5px;
        box-sizing: border-box;
        border: 1px solid #c4c4c4;
        color: #000;
    }

    input,
    label {
        font: 1rem 'Roboto', sans-serif;
    }

    #botoes-form {
        display: flex;
    }

    input[type="submit"],
    input[type="reset"] {
        margin: 10px;
        background-color: #8bc34a;
        color: #fff;
        border: 0;
        border-radius: 5px;
    }

    input[type="reset"] {
        background-color: #f44336;
    }

    footer {
        background-color: #111;
        padding: 15px;
        color: #fff;
        font: 1rem 'Roboto', sans-serif;
    }

    footer p {
        text-align: center;
        color: #fff;
        margin-bottom: 10px;
    }

    footer a {
        color: #fff;
        text-decoration: none;

    }

    footer a:hover {
        color: #CCC;
    }

}